# Lab 2 - Perform Basic Python Operation

We will cover following topics
 
    python Variable.
    python data structure

In [1]:
#print your name #single line commentx
print("I am Dharmik Gosai")

I am Dharmik Gosai

#  Python Variable

A Variable is a container which a store a value of a particuler memory.

In [5]:
count = 100 #Int assignment
Kilometers = 1000.0 #float assignment
name= "Dharmik" #String assignment

In [6]:
print(count,Kilometers,name)

100 1000.0 Dharmik

In [13]:
a,b,c=1,2,"Dharmik"
print(a,b,c,sep=',')

1,2,Dharmik

In [15]:
a ="Hellow World" #string
b = 20 #
c =20.5
d =1j
e =["apple","banana","cherry"]
f =("apple","banana","cherry")
g = range(6)
h = {"name":"Dharmik", "age":20}
i = {"apple","banana","cherry"}
j = frozenset({"apple","banana","cherry"})

In [16]:
#print data type
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>

In [1]:
num1 = 3.14
type(num1)

float

In [2]:
num2 = "dhg"
type(num2)

str

# Python String

String is a group of character.
String in python are identified as a contiguous set of character represented in the quotaion marks.

In [4]:
str1 = 'my name is dharmik'
print(str1)

my name is dharmik

In [5]:
str1 = 'python is programming language'
print(str1)

python is programming language

In [6]:
print(str1[0])
print(str1[3])

p
h

In [8]:
print(len(str1))

30

In [9]:
print(len(str1))

30

In [11]:
print(str1[1:5])

ytho

In [12]:
print(str1[-1])

e

In [20]:
#python formate string
string1 = "{a} {c} {b}".format(a='d',b='h',c='g')
print("")
print(string1)

d g h

In [21]:
val = 'prince'
print(f"{val}is the student of my class")

princeis the student of my class

In [27]:
Name = 'Dhg'
Age = 20
print(f"name is {name} and age {agr}")

name is dhg and age 20

In [28]:
str1 = 'Apple is Fruit'
print(str1.upper())

APPLE IS FRUIT

In [29]:
str1 = 'Apple is Fruit'
print(str1.lower())

apple is fruit

In [31]:
str1 = 'Apple is Fruit'
print(str1.title())

Apple Is Fruit

In [32]:
str1 = 'Apple is Fruit'
print(str1.capitalize())

Apple is fruit

In [36]:
str1 = 'Apple is Fruit'
print(str1.split())
s=(str1.split())
print(s)
k=(str1.join(s))
print(k)

['Apple', 'is', 'Fruit']
['Apple', 'is', 'Fruit']
AppleApple is FruitisApple is FruitFruit

# OPERATORS

1.Arithmetic Operator

In [39]:
5+3
2+89

91

2 Assignment

In [41]:
x=10
x +=5
print(x)

15

3 logical Operator

In [48]:
x=5
print(x>3 and x<16)

True

4.comparision operator

In [46]:
x=5
y=7
print(x==y)

False

In [49]:
8-9

-1

In [50]:
6*0

0

In [51]:
#Float division
10//4

2

In [52]:
10/4

2.5

In [53]:
3//2

1

In [54]:
#modulo
7%4

3

In [55]:
2**3

8

In [56]:
4**0,5

(1, 5)

In [57]:
4**0.5

2.0

In [58]:
13*12

156

In [59]:
x=int(input("enter the value of x"))

enter the value of x10

In [61]:
x=str(input("enter the value of x"))

enter the value of xdharmik

In [64]:
y=int(input("enter the value of "))

enter the value of 30

In [67]:
z=x*y
print(z)

600

python version Check in notebook

In [70]:
from platfrom import python_version
print(python_version())

ModuleNotFoundError: No module named 'platfrom'

In [3]:
from platform import python_version
print(python_version())

3.11.5

In [2]:
var1= True
var2= False
print(type(var1))
print(type(var2))

<class 'bool'>
<class 'bool'>

In [11]:
str1="Gujarat"
str2="   University"
str3= str1 + str2
print(str3)

Gujarat   University

In [23]:
str1="Gujarat"
str2="University"
str3= str1 + str2
str4=str1*8
print(str4 )

GujaratGujaratGujaratGujaratGujaratGujaratGujaratGujarat