#  Lab 1 - Python Control Statement

# if,else,elif Statement

# Conditional Statement

In [1]:
if True:
    print("Yes, Its TRUE,,!")

Yes, Its TRUE,,!

In [4]:
x=False
if x:
    print("Yes, Its TRUE,,!")
else:
        print(" Its false,,!")

 Its false,,!

In [11]:
x=10

if x<20:
    print("Yes,X is  lessthan 20")
    
else:
    print("no,X is greaterthen 20")

Yes,X is  lessthan 20

In [14]:
city = "surat"

if city == "Baroda":
    print("Welcome to Baroda")
elif city == "Ahemadabad":
    print("Welcome to Ahemadabad")
elif city == "surat":
    print("Welcome to surat")
else: 
    print("Welcome to My Home")

Welcome to surat

# Python Loop

In [12]:
count = 0
while(count<9):
    print("the count is",count)
    count = count+1
print("Good Bye")

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
Good Bye

In [9]:
i=0
n=10
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

# For Loop

In [14]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [15]:
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [16]:
fruits=['Apple','Banana','Graps']
for fruit in fruits:
    print(fruit)

Apple
Banana
Graps

In [22]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8
10

In [23]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2==1:
        print(i)

1
3
5
7
9

In [25]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2==0:
        print('{} is even Number'.format(i))
    else:
        print('{} is odd Number'.format(i))

1 is odd Number
2 is even Number
3 is odd Number
4 is even Number
5 is odd Number
6 is even Number
7 is odd Number
8 is even Number
9 is odd Number
10 is even Number

In [34]:
ans = 0
for i in lst:
    ans= ans + i
    i=i+1
print(ans)

55

In [38]:
ans = 0
for i in lst:
    ans=  i**2
    print(ans)
    i=i+1

1
4
9
16
25
36
49
64
81
100

In [39]:
sqr_lst=[x**2 for x in range(0,11)]
sqr_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]