# Lab 2-CRUD Operation of MongoDB Using Python

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

# Create new database and collection in MongoDB

In [3]:
infosys_db=myclient["infosys_db"]

In [4]:
emp_coll=infosys_db['emp_coll']

# Howevery,the datbase and the collection are not created using them.lets fill them with data.

In [5]:
document = {
    "Name":"Dharmik",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Devloper",
    "Salary":110000,
    "Experience":3,
    "Skills":["PHP","MYSQL"]
    
}

In [6]:
emp_coll.insert_one(document)

In [7]:
emp_data=[
    {
    "Name":"Dharmik",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Devloper",
    "Salary":110000,
    "Experience":3,
    "Skills":["PHP","MYSQL"]
     
    },
    {
    "Name":"Madhav",
    "Age":19,
    "State":"Ahemadabad",
    "City":"Nagrol",
    "Profile":"Devloper",
    "Salary":11000,
    "Experience":2,
    "Skills":["PHP","MYSQL","python"]
        
    },
    {
    "Name":"Abhi",
    "Age":18,
    "State":"Goa",
    "City":"Devka",
    "Profile":"Devloper",
    "Salary":11004,
    "Experience":1,
    "Skills":["PHP","MYSQL"]
    }
]

In [8]:
emp=emp_coll.insert_many(emp_data)

In [18]:
result=emp_coll.find()

In [11]:
infosys_db.list_collection_names()

['emp_coll']

In [14]:
#Accessing Collection
emp_coll=infosys_db['emp_coll']

In [19]:
for data in result:
    print(data)

{'_id': ObjectId('652a56115d62d863f39be5d1'), 'Name': 'Dharmik', 'Age': 20, 'State': 'Gujarat', 'City': 'Surat', 'Profile': 'Devloper', 'Salary': 110000, 'Experience': 3, 'Skills': ['PHP', 'MYSQL']}
{'_id': ObjectId('652a562b5d62d863f39be5d2'), 'Name': 'Dharmik', 'Age': 20, 'State': 'Gujarat', 'City': 'Surat', 'Profile': 'Devloper', 'Salary': 110000, 'Experience': 3, 'Skills': ['PHP', 'MYSQL']}
{'_id': ObjectId('652a562b5d62d863f39be5d3'), 'Name': 'Madhav', 'Age': 19, 'State': 'Ahemadabad', 'City': 'Nagrol', 'Profile': 'Devloper', 'Salary': 11000, 'Experience': 2, 'Skills': ['PHP', 'MYSQL', 'python']}
{'_id': ObjectId('652a562b5d62d863f39be5d4'), 'Name': 'Abhi', 'Age': 18, 'State': 'Goa', 'City': 'Devka', 'Profile': 'Devloper', 'Salary': 11004, 'Experience': 1, 'Skills': ['PHP', 'MYSQL']}

In [20]:
emp_coll.find_one()

{'_id': ObjectId('652a56115d62d863f39be5d1'),
 'Name': 'Dharmik',
 'Age': 20,
 'State': 'Gujarat',
 'City': 'Surat',
 'Profile': 'Devloper',
 'Salary': 110000,
 'Experience': 3,
 'Skills': ['PHP', 'MYSQL']}

In [22]:
emp_coll.find_one({"Name":"Madhav"})

{'_id': ObjectId('652a562b5d62d863f39be5d3'),
 'Name': 'Madhav',
 'Age': 19,
 'State': 'Ahemadabad',
 'City': 'Nagrol',
 'Profile': 'Devloper',
 'Salary': 11000,
 'Experience': 2,
 'Skills': ['PHP', 'MYSQL', 'python']}

In [25]:
import numpy as np
data=[20,10,20]
mean=sum(data)/len(data)
mean

16.666666666666668

In [27]:
import numpy as np
arr=np.array((1,2,3,4,5))
type(arr)

numpy.ndarray

In [3]:
import numpy as np
arr=np.array([[1,2,3],[1,2,5]])
type(arr)
print(arr)

[[1 2 3]
 [1 2 5]]

In [5]:
import numpy as np
arr=np.array([[1,2,3],[1,2,5]],[2,3,4])
type(arr)
print(arr)

TypeError: Field elements must be 2- or 3-tuples, got '2'

In [6]:
import numpy as np

In [ ]:
a=np.array([1,2,3])
np.save('output')